<a (click)='showForgotPassword()'>Forgot Password?</a>
<div *ngIf='forgotPassword' id='password-modal'>
	<div class='confirmation-alert'>
		<div class="confirmation-title">
			Forgot Password?
		</div>
		<div class="confirmation-body">
			<p>Enter email you use to sign into your account.</p>
			<p>You will be sent a link to reset your password.</p>
			<input type='email' [(ngModel)]='resetEmail' placeholder='Email'/>
		</div>
		<div class="confirmation-buttons">
			<button class="action-button" (click)="hideForgotPassword()">Cancel</button>
			<button class="action-button" (click)='sendResetEmail()'>Send Email</button>
		</div>
	</div>
</div>